<div class="grouped fields item">
  <div class="ui gray horizontal label"><%= question_index %></div>
  <label for="question"><%= test_assignment_question.question.text %></label>
  <% test_assignment_question.question.answer_options.each_with_index do |answer_option, answer_index| %>
      <div class="field" style="position: relative;left: 50px;">
        <div class="ui radio checkbox">
          <input type="radio" name="questions[<%= question_index %>][]" value="<%= answer_index %>" checked="" tabindex="0" class="hidden">
          <% if answer_index  == 0 %>
              <label><%= answer_option.text %></label>
          <% elsif answer_index  == 1 %>
              <label><%= answer_option.text %></label>
          <% elsif answer_index  == 2 %>
              <label><%= answer_option.text %></label>
          <% else %>
              <label><%= answer_option.text %></label>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
