<div class="ui four column middle center aligned grid">
  <div></div>
  <h1 class="ui header" style="margin-left: 25%; margin-right: 25%"><%= @skill.name %></h1>
  <%= render 'dashboard_left' %>
  <div class="column" style="width: 45%;">
    <div class="ui container">
      <div class="ui label large black">Class Performance</div>
      <div class="ui segment">
        <%= line_chart @score_data %>
      </div>

      <div class="ui label large black">Student Performance</div>
      <div class="ui three column center aligned grid segment">
        <div class="column">
          <div class="ui green circular label">Exceeding Expectations</div>
          <div class="ui list">
          <% @students_surpassing_standards.each do |student| %>
            <%= student[:student].first_name %> <%= student[:student].last_name %>
                <div class="ui label circular green">
                  <%= student[:score] %>
                </div>
          <% end %>
          </div>
        </div>
        <div class="column">
          <div class="ui yellow circular label">Meeting Expectations</div>
          <div class="ui list">
          <% @students_meeting_standards.each do |student| %>
            <%= student[:student].first_name %> <%= student[:student].last_name %>
                <div class="ui label circular yellow">
                  <%= student[:score] %>
                </div>
          <% end %>
          </div>
        </div>
        <div class="column">
          <div class="ui red circular label">At risk</div>
          <div class="ui list">
          <% @students_at_risk.each do |student| %>
            <%= student[:student].first_name %> <%= student[:student].last_name %>
                <div class="ui label circular red">
                  <%= student[:score] %>
                </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'dashboard_right' %>
</div>
