<%= form_with(model: test_assignment, url: [@course, @test_assignment], local: true, html: {  class: 'ui large form' }) do |form| %>

    <% if test_assignment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(test.errors.count, 'error') %> prohibited this test from being assigned:</h2>

          <ul>
            <% test_assignment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= form.label :assessment %>
      <%= form.collection_select(:test_id, Test.all, :id, :name, { prompt: true }, { class: 'ui dropdown' }) %>
      <div class="ui button">
        <%= link_to('Create a new test', new_test_path) %>
      </div>
    </div>

    <div class="field">
      <%= form.label :students %>
      <div class="ui continer">
        <div class="ui checkbox">
          <%= form.check_box(:students, { multiple: true }, 'all') %>
          <label>All Students</label>
        </div>
      </div>
      <% @course.students.each do |student| %>
          <div class="ui continer">
            <div class="ui checkbox">
              <%= form.check_box(:students, { multiple: true }, student.id) %>
              <label><%= student.name %></label>
            </div>
          </div>
      <% end %>
    </div>

    <div class="actions">
      <%= form.submit 'Assign test', class: 'ui button primary' %>
    </div>

<% end %>
