<%= form_with(model: test_assignment, url: [@course, @test_assignment], local: true, html: {  class: 'ui large form' }) do |form| %>

    <% if test_assignment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(test_assignment.errors.count, 'error') %> prohibited this test from being assigned:</h2>

          <ul>
            <% test_assignment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= form.label :assessment %>
      <%= form.collection_select(:test_id, Test.all, :id, :name, { prompt: true }, { class: 'ui dropdown' }) %>
      <div class="ui button">
        <%= link_to('Create a new test', new_test_path(course_id: @course.id)) %>
      </div>
    </div>

    <div class="field">
      <%= form.label :students %>

      <div class="ui celled relaxed list">
        <div class="item">
          <div class="ui master checkbox">
            <input type="checkbox" id="test_assignment_students_all" name="test_assignment[students][]" value="all">
            <label>All Students</label>
          </div>
          <div class="list">
            <% @course.students.each do |student| %>
                <div class="item">
                  <div class="ui child checkbox">
                    <input type="checkbox" name="test_assignment[students][]" id="test_assignment_students_<%= student.id %>">
                    <label><%= student.name %></label>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= form.submit 'Assign test', class: 'ui button primary' %>
    </div>

<% end %>


