<div class="ui four column center aligned grid">
  <% if notice %>
    <div class="ui success message">
      <i class="close icon"></i>
      <div class="header">
        <%= notice %>
      </div>
    </div>
  <% end %>

  <div></div>
  <h1 class="ui header">
    Dashboard
  </h1>

  <div class="column">
    <div class="ui container">
      <h3 class="ui header">Students</h3>
      <% @course.students.each do |student| %>
            <div class="ui container">
              <div class="content">
                <%= link_to("#{student.first_name} #{student.last_name}", course_student_path(@course, student)) %>
              </div>
            </div>
      <% end %>
    </div>
  </div>
  <div class="column" style="width: 45%;">
    <div class="ui container">
      <div class="ui label large black">Class Average</div>
      <div class="ui segment">
        <%= line_chart @score_data %>
      </div>

      <div class="ui label large black">Standards</div>
      <div class="ui four column center aligned grid segment">
        <% @skill_data.each do |skill| %>
          <div class="ui column">
            <div class="ui label">
              <%= skill.keys.first %>
            </div>
            <%= pie_chart skill.values.first, label: skill.keys.first, colors: ["red", "green"] %>
          </div>
      <% end %>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui container">

      <h3 class="ui header">Ungraded Assessments</h3>
      <% @course.test_assignments.ungraded.each do |assignment| %>
          <div class="ui container">
            <div class="content">
              <%= link_to("#{assignment.student.first_name} #{assignment.student.last_name}: #{assignment.test.name}", course_test_assignment_path(@course, assignment.id)) %>
            </div>

          </div>
      <% end %>

      <div class="ui button">
        <%= link_to('Assign a test', new_course_test_assignment_path(@course)) %>
      </div>

    </div>
  </div>
</div>
